
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 50vh;
    color: white;
    background-color: rgb(77, 0, 25);
}
.footerline1{
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    transform: translateY(-3vh);
}
.footerline1insie{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footerline2{
    width: 100vw;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    color: rgb(165, 75, 105);
    transform: translateY(100%);
    
}